header {
    width: 100%;
    height: 80px;
    position: fixed;
    background: black;
    color: white;
    padding: 20px 30px;
}

.outlet {
    width: 100%;
    position: absolute;
    top: 80px;
    z-index: -1
}