.search {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 80px;
    background: skyblue;
    z-index: 1;
    padding: 5px 0;
    
}

.search input {
    width: 250px;
    height: 30px;
    display: inline-block;
    border-radius: 8px;
    padding: 0 10px;
}