.list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 30px;
    margin-top: 40px;
}

.show-more-btn {
    display: block;
    margin: 0 auto 2px auto;
    padding: 1px 8px;
}

@media screen and (max-width: 768px) {
    .list-container {
        flex-direction: column;
    }
}